In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
from sklearn.linear_model import LinearRegression

<h1 style = 'color: purple'>Without Rand 1,2,3</h1>

In [2]:
data1 = pd.read_csv('1.01. Simple linear regression.csv')
data1.head()

    SAT   GPA
0  1714  2.40
1  1664  2.52
2  1760  2.54
3  1685  2.74
4  1693  2.83

In [3]:
x1 = data1['SAT']
y1 = data1['GPA']

In [4]:
x1 = x1.values.reshape(-1,1)

In [5]:
x1.shape

(84, 1)

In [6]:
reg1 = LinearRegression()

In [7]:
reg1.fit(x1,y1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
reg1.coef_

array([0.00165569])

In [9]:
reg1.intercept_

0.275040299660279

In [10]:
r2 = reg1.score(x1,y1)

In [11]:
# Value of r^2: 40.60 %

r2

0.40600391479679765

In [12]:
# Implementing the formula of adjusted square of r [1 - (1-r^2) * (n-1) / (n-p-1)]
def adjusted_r2 (x1, y1):
    n = x1.shape[0]
    p = x1.shape[1]
    adj_r2 = 1 - (1-r2) * (n-1) / (n-p-1)
    return adj_r2

In [13]:
# Value of adjusted r^2: 39.94 %

adjusted_r2(x1, y1)

0.3987600600991976

<h1 style = 'color: blue'>Conclusion: {r^2} = 40.60 % and {adjusted r^2} = 39.87 %</h1>

<h1 style = "color: purple">With Rand 1,2,3</h1>

In [14]:
data2 = pd.read_csv('1.02. Multiple linear regression.csv')
data2.head()

    SAT  Rand 1,2,3   GPA
0  1714           1  2.40
1  1664           3  2.52
2  1760           3  2.54
3  1685           3  2.74
4  1693           2  2.83

In [15]:
x2 = data2[['SAT','Rand 1,2,3']]
y2 = data2['GPA']

In [16]:
reg2 = LinearRegression()

In [17]:
reg2.fit(x2, y2)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
reg2.intercept_

0.29603261264909353

In [19]:
reg2.coef_

array([ 0.00165354, -0.00826982])

In [20]:
x2.shape

(84, 2)

In [21]:
r2 = reg2.score(x2, y2)

In [22]:
# Value of r^2: About 40.66 %

r2

0.40668119528142815

In [23]:
# Implementing the formula of adjusted square of r [1 - (1-r^2) * (n-1) / (n-p-1)]
def adjusted_r2 (x2, y2):
    n = x2.shape[0]
    p = x2.shape[1]
    adj_r2 = 1 - (1-r2) * (n-1) / (n-p-1)
    return adj_r2

In [24]:
# Value of adj_r^2: About 39.2 %

adjusted_r2(x2, y2)

0.39203134825134

<h1 style = 'color: blue'>Conclusion: {r^2} = 40.66 % and {adjusted r^2} = 39.20 %</h1>