In [1]:
import pandas as pd

In [6]:
dic = {1:'one',3:'three',2:'two',4:'four',}

In [7]:
ser = pd.Series(dic, name = 'Numbers')

In [23]:
ser.tolist()

['four', 'one', 'three', 'two']

In [24]:
ser

4     four
1      one
3    three
2      two
Name: Numbers, dtype: object

In [13]:
ser.sort_index(ascending = True, inplace = True)

In [14]:
ser

1      one
2      two
3    three
4     four
Name: Numbers, dtype: object

In [20]:
ser.sort_values(inplace = True)

In [21]:
ser

4     four
1      one
3    three
2      two
Name: Numbers, dtype: object