In [23]:
import pandas as pd
import numpy as np

In [24]:
students_name = np.array(['Aladin1','Aladin2','Aladin3','Aladin4'])
students_index = [1,2,3,4]
Stud = "Students"

In [25]:
students = pd.Series(students_name, name = Stud)

In [26]:
students

0    Aladin1
1    Aladin2
2    Aladin3
3    Aladin4
Name: Students, dtype: object

In [27]:
pd.Series(students_name, name = Stud, index = students_index)

1    Aladin1
2    Aladin2
3    Aladin3
4    Aladin4
Name: Students, dtype: object

In [31]:
dic = {
    '1'  :  'Aladin1',
    '2'  :  'Aladin2',
    '3'  :  'Aladin3',
    '4'  :  'Aladin4',
}

In [32]:
pd.Series(dic, name = 'hello')

1    Aladin1
2    Aladin2
3    Aladin3
4    Aladin4
Name: hello, dtype: object