In [1]:
import pandas as pd

In [2]:
dict={"MUM":10000 , "HYD":20000 , "BAN":12000, "JAM":13000}

In [3]:
ser1=pd.Series(dict)

In [4]:
ser1.name="list1"

In [5]:
ser1.index.name="cities"

In [6]:
print("Series 1\n",ser1)

Series 1
 cities
MUM    10000
HYD    20000
BAN    12000
JAM    13000
Name: list1, dtype: int64

In [7]:
list=["DEL", "MUM","UMB","CHD"]

In [8]:
ser2=pd.Series(dict,index=list)

In [9]:
ser2.name='list2' #give name to the series

In [10]:
ser2.index.name='cities'    #give name to the index of the series

In [11]:
print("series 2 is \n",ser2)

series 2 is
 cities
DEL        NaN
MUM    10000.0
UMB        NaN
CHD        NaN
Name: list2, dtype: float64

In [12]:
print("Series 1 + series2\n",ser1+ser2)

Series 1 + series2
 cities
BAN        NaN
CHD        NaN
DEL        NaN
HYD        NaN
JAM        NaN
MUM    20000.0
UMB        NaN
dtype: float64

In [13]:
print("Series 1 * series2\n",ser1*ser2)

Series 1 * series2
 cities
BAN            NaN
CHD            NaN
DEL            NaN
HYD            NaN
JAM            NaN
MUM    100000000.0
UMB            NaN
dtype: float64

In [14]:
#reasigning the indexes to the series . THE NEW LIST SHOULD BE SAME IN SIZE AS SERIES INDEX SIZE 
ser1.index=["DEL","KOL", "CHE" , "GUJ"]

In [15]:
print(ser1)

DEL    10000
KOL    20000
CHE    12000
GUJ    13000
Name: list1, dtype: int64

In [16]:
data = pd.DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1], 'c': [-2, 5, 8, -2.5]})

In [17]:
data.rank(axis=1)

     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0

In [18]:
data.rank()

     b    a    c
0  3.0  1.5  2.0
1  4.0  3.5  3.0
2  1.0  1.5  4.0
3  2.0  3.5  1.0

In [19]:
data.rank(method='first', axis = 1)

     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0