In [18]:
import pandas as pd

In [19]:
happiness_data = pd.read_csv('2019.csv', index_col = "Country or region")

In [20]:
happiness_data.head()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country or region,,,,,,,,
Finland,1,7.769,1.340,1.587,0.986,0.596,0.153,0.393
Denmark,2,7.600,1.383,1.573,0.996,0.592,0.252,0.410
Norway,3,7.554,1.488,1.582,1.028,0.603,0.271,0.341
Iceland,4,7.494,1.380,1.624,1.026,0.591,0.354,0.118
Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [21]:
happiness_data.tail()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country or region,,,,,,,,
Rwanda,152,3.334,0.359,0.711,0.614,0.555,0.217,0.411
Tanzania,153,3.231,0.476,0.885,0.499,0.417,0.276,0.147
Afghanistan,154,3.203,0.350,0.517,0.361,0.000,0.158,0.025
Central African Republic,155,3.083,0.026,0.000,0.105,0.225,0.235,0.035
South Sudan,156,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [22]:
happiness_data.iloc[5:11]

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country or region,,,,,,,,
Switzerland,6,7.480,1.452,1.526,1.052,0.572,0.263,0.343
Sweden,7,7.343,1.387,1.487,1.009,0.574,0.267,0.373
New Zealand,8,7.307,1.303,1.557,1.026,0.585,0.330,0.380
Canada,9,7.278,1.365,1.505,1.039,0.584,0.285,0.308
Austria,10,7.246,1.376,1.475,1.016,0.532,0.244,0.226
Australia,11,7.228,1.372,1.548,1.036,0.557,0.332,0.290

In [23]:
happiness_data

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country or region,,,,,,,,
Finland,1,7.769,1.340,1.587,0.986,0.596,0.153,0.393
Denmark,2,7.600,1.383,1.573,0.996,0.592,0.252,0.410
Norway,3,7.554,1.488,1.582,1.028,0.603,0.271,0.341
Iceland,4,7.494,1.380,1.624,1.026,0.591,0.354,0.118
Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...
Rwanda,152,3.334,0.359,0.711,0.614,0.555,0.217,0.411
Tanzania,153,3.231,0.476,0.885,0.499,0.417,0.276,0.147
Afghanistan,154,3.203,0.350,0.517,0.361,0.000,0.158,0.025
Central African Republic,155,3.083,0.026,0.000,0.105,0.225,0.235,0.035
South Sudan,156,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [24]:
happiness_data.loc[['Japan','Nepal','China'],'Overall rank']

Country or region
Japan     58
Nepal    100
China     93
Name: Overall rank, dtype: int64

In [25]:
happiness_data.columns

Index(['Overall rank', 'Score', 'GDP per capita', 'Social support',
       'Healthy life expectancy', 'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [26]:
happiness_data.columns.size

8

In [27]:
happiness_data.index

Index(['Finland', 'Denmark', 'Norway', 'Iceland', 'Netherlands', 'Switzerland',
       'Sweden', 'New Zealand', 'Canada', 'Austria',
       ...
       'Haiti', 'Botswana', 'Syria', 'Malawi', 'Yemen', 'Rwanda', 'Tanzania',
       'Afghanistan', 'Central African Republic', 'South Sudan'],
      dtype='object', name='Country or region', length=156)

In [28]:
happiness_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 156 entries, Finland to South Sudan
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Score                         156 non-null    float64
 2   GDP per capita                156 non-null    float64
 3   Social support                156 non-null    float64
 4   Healthy life expectancy       156 non-null    float64
 5   Freedom to make life choices  156 non-null    float64
 6   Generosity                    156 non-null    float64
 7   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 16.0+ KB